.JobSearch__supportScroll {
  display: none;
  margin-top: -12px;
}
.JobSearch__container {
  padding: 20px;
  background-color: var(--jh-white-background);
}

.JobSearch__container .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

.JobSearch__bound {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 8px;
  row-gap: 8px;
}

.JobSearch__input-data {
  position: relative;
}

.JobSearch__search-input {
  width: 28%;
}

.JobSearch__search-select {
  width: 19%;
}

.JobSearch__search-select-company {
  width: 20%;
}

.JobSearch__input {
  height: 40px;
  padding-left: 26px;
  padding-right: 0;
}

.JobSearch__search-input .JobSearch__input {
  box-shadow: none;
  color: var(--jh-primary-text-color);
  line-height: 24px;
  padding: 11px 0 11px 16px;
}

.JobSearch__input-icon {
  position: absolute;
  padding: 9px;
  z-index: 1;
}

.JobSearch__input-icon > i {
  color: var(--jh-primary-color);
  font-size: 14px;
}

.JobSearch__btn {
  margin-left: auto;
}

@media screen and (width < 768px) {
  .JobSearch__search-input {
    width: calc(50% - 8px);
  }

  .JobSearch__search-select {
    width: calc(50% - 8px);
  }

  .JobSearch__search-select-company {
    width: calc(50% - 8px);
  }
}
