.CompanyTop__item {
  height: 100px;
  overflow: hidden;
  border: 1px solid var(--jh-secondary-border-color);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.CompanyTop__item:hover {
  border-color: var(--jh-primary-color);
}

.CompanyTop__item-logo {
  height: 100%;
  text-align: center;
}

.CompanyTop__item-logo img {
  height: 70%;
}

.CompanyTop__item-text {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 8px;
}