.JobPage__container a {
  text-decoration: none;
  color: var(--jh-black-color);
}

@media (min-width: 768px) {
  .JobPage__item-container {
    min-width: 750px;
    padding-left: 0;
    padding-right: 0;
    width: 96%;
  }
}

@media (min-width: 992px) {
  .JobPage__item-container {
    max-width: 1100px;
  }
}

.JobPage__item-container {
  margin-right: auto;
  margin-left: auto;
}

.JobPage__text-highlight {
  color: var(--jh-primary-color) !important;
  text-decoration: none;
}

.JobPage__text-highlight:hover {
  color: var(--jh-primary-color);
}

.JobPage__bold {
  font-weight: 600;
}

.JobPage__header-detail {
  padding: 16px 0;
}

.JobPage__header-detail i {
  margin-left: 16px;
  margin-right: 16px;
}

.JobPage__header-job {
  background-color: var(--jh-item-background);
}

.JobPage__header-job-box-header {
  border-radius: 3px;
  padding: 16px;
}

.JobPage__header-job-company-logo {
  margin-right: 24px;
}

.JobPage__header-box-company-logo {
  border: 2px solid #eee;
  border-radius: 75px;
  height: 110px;
  overflow: hidden;
  width: 110px;
  background-color: var(--jh-item-background);
}

.JobPage__header-box-company-logo img {
  max-height: 100% !important;
  max-width: 100%;
  object-fit: contain;
  width: 75%;
}

.JobPage__header-box-info-job h1 {
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 12px;
  font-weight: 700;
}

.JobPage__header-company-title {
  margin-bottom: 8px;
}

.JobPage__header-company-title a {
  color: #333;
  font-size: 18px;
  font-weight: 700;
}

.JobPage__tab-company-nav {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.JobPage__tab-company-nav li {
  margin-right: 50px;
}

.JobPage__tab-company-nav-active {
  border-bottom: 2px solid #333;
}

.JobPage__tab-company-nav > .JobPage__tab-company-nav-active a {
  color: #333 !important;
  font-weight: 700;
}

.JobPage__tab-company-nav a {
  color: #807f7f;
  position: relative;
  display: block;
  padding: 10px 15px;
  font-size: 16px;
}

.JobPage__box-job-info {
  border-radius: 3px;
  padding: 16px;
  background-color: var(--jh-item-background);
}

.JobPage__job-info-title {
  border-left: 7px solid var(--jh-primary-color);
  color: #333;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 16px;
  padding-left: 12px;
}

.JobPage__box-job-similar {
  background-color: var(--jh-item-background);
  justify-content: space-between;
  margin: 0 0 16px;
  border-radius: 3px;
  padding: 16px;
}

.JobPage__box-job-similar h2 {
  border-left: 7px solid var(--jh-primary-color);
  color: #333;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  padding-left: 12px;
}
