.JobInfo__box-info,
.JobInfo__box-address {
  background: var(--jh-box-background);
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 16px;
}

.JobInfo__box-info > p,
.JobInfo__box-address > p {
  color: #333;
  font-weight: 700;
  margin-bottom: 16px;
  text-decoration-line: underline;
}

.JobInfo__box-main {
  display: grid;
  grid-template-columns: 50% 50%;
}

.JobInfo__box-item {
  display: flex;
  margin-bottom: 16px;
}

.JobInfo__box-item strong {
  color: #333;
}

.JobInfo__job-data h3 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.JobInfo__job-data p{
  font-size: 15px;
}
