.ManageCVPage__form-data {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.4rem;
  border-color: var(--jh-secondary-border-color) !important;
  color: var(--jh-black-color);
  background-color: var(--bs-input-card-bg);
  width: 100%;
}

.ManageCVPage__form-data:focus {
  border-color: var(--jh-secondary-border-color) !important;
}

.ManageCVPage_form {
  border: 1px solid #aaa;
  padding: 16px;
  font-weight: 600;
  border-radius: 10px;
}

.ManageCVPage_form-btn {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: flex-end;
}