.Footer__layout {
  padding: 8px 48px;
  margin-top: auto;
  margin-left: 0;
  margin-right: 0;
}

.Footer__layout .nav-link {
  margin: 0 !important;
  padding: 0 !important;
}

@media screen and (width < 768px) {
  .Footer__layout {
    padding: 8px 4px;
  }
}

.Footer__group-text {
  font-size: 15px;
  color: var(--jh-white-color) !important;
}

.Footer__item-text {
  font-size: 14px;
  color: var(--jh-dark-gray-color);
  margin-bottom: 5px;
}

.Footer__layout .nav-link:hover {
  color: #e34c31;
}

.Footer__text-muted {
  color: var(--jh-dark-gray-color);
}
