.ChangePasswordPage__title {
  font-size: calc(1.25625rem + 0.075vw);
  font-weight: 600;
}

.ChangePasswordPage__input-text {
  background-color: var(--bs-input-group-addon-bg) !important;
  padding: 5px 15px !important;
  color: var(--bs-text-muted) !important;
}

.ChangePasswordPage__form-control {
  min-height: calc(1.5em + calc(1rem + 6px)) !important;
  padding: 0.5rem 1rem !important;
  font-size: 0.875rem !important;
  border-radius: 0.4rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-color: var(--jh-secondary-border-color);
  color: var(--jh-black-color) !important;
  background-color: var(--bs-input-card-bg) !important;
}

.ChangePasswordPage__form-control:focus {
  border-color: var(--jh-secondary-border-color);
}

.ChangePasswordPage__form-label {
  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--bs-input-placeholder-color);
}

.ChangePasswordPage__btn-ChangePasswordPage {
  color: #fff !important;
  background-color: #7269ef !important;
  border-color: #7269ef !important;
}

.ChangePasswordPage__btn-ChangePasswordPage:hover {
  color: #fff !important;
  background-color: #6159cb !important;
  border-color: #5b54bf !important;
}

.ChangePasswordPage__btn-text {
  margin-left: 10px;
}
.ChangePasswordPage__btn-icon {
  float: left;
}

.ChangePasswordPage__text-primary {
  font-weight: 500 !important;
  text-decoration: none;
}
