.CVTemplateListChild__img {
    width: 97%;
    height: 320px;
    object-fit: fill;
    border-radius: 10px;
    border: 1px solid rgba(100, 100, 100, 0.4);
}

.CVTemplateListChild__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
}

.CVTemplateListChild__box:hover {
    border: 1px solid salmon;
    padding: 7px;
    color: black;
}

.CVTemplateListChild__box:hover .CVTemplateListChild__img {
    opacity: 0.9;
}

.CVTemplateListChild__box:hover>.CVTemplateListChild__name {
    color: black;
}

.CVTemplateListChild__name {
    font-weight: 500;
    color: rgba(20, 20, 20, 0.7);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
}