.BlogRef__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(200, 200, 200, 0.3);
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
    box-sizing: border-box;
}

.BlogRef__name {
    font-weight: 500;
    text-align: center;
}

.BlogRef__box:hover {
    /* background-color: rgba(170, 170, 170, 0.5); */
    border: 1px solid var(--jh-primary-color);
    padding: 7px;
}