.SliderJobList_slick-slider > .slick-list > div > div {
  padding: 8px 0px;
  /* width: 32% !important; */
  margin: 0;
}

.SliderJobList_slick-slider > .slick-list {
  padding: 0 !important;
}

.SliderJobList_slick-slider .slick-track {
}

.JobListSmall_container {
  /* width: 100%; */
}
