.JobHot__container {
  background-color: var(--jh-item-background);
}

.JobHot__box-smart-box {
  align-items: center;
  background: #fff;
  color: #212f3f;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  padding: 16px 17px 0;
}

.JobHot__box-label > p {
  align-items: center;
  background: #e5f7ed;
  border-radius: 16px;
  color: var(--jh-primary-color);
  display: flex;
  font-size: 15px;
  margin: 0;
  padding: 6px 16px;
}

.JobHot__dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: var(--jh-primary-color);
  margin-right: 8px;
}

.JobHot__box-header {
  border-radius: 3px 3px 0 0;
  color: #212f3f;
  display: flex;
  font-size: 16px;
  padding: 18px 16px 11px;
  position: relative;
}

.JobHot__box-header h2 {
  font-weight: 700;
  margin-bottom: 0;
  margin-right: auto;
  margin-top: 0;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  font-size: 20px;
}

.JobHot__box-header span {
  position: absolute;
  right: 10px;
  top: 17px;
  float: right !important;
}

.JobHot__box-header a,
.JobHot__box-header i {
  color: var(--jh-primary-color);
}

.JobHot__box-smart-filter {
  padding: 0 16px 11px;
}

.JobHot__prev-location,
.JobHot__next-location {
  cursor: pointer;
  font-size: 20px;
}

.JobHot__prev-location i,
.JobHot__next-location i {
  color: #777;
}

.JobHot__list-location {
  cursor: pointer;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  transition: all 0.2s;
  white-space: nowrap;
  width: 100%;
  scrollbar-width: none;
}

.JobHot__item-location-active {
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  margin-right: 12px;
  padding: 6px 12px;
  background: var(--jh-primary-color);
  border: 1px solid var(--jh-primary-color);
  color: #fff;
}

.JobHot__item-location {
  background: #f4f4f4;
  border: 1px solid #eee;
  border-radius: 20px;
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  margin-right: 12px;
  padding: 6px 12px;
}

.JobHot__list-job {
  padding: 16px 17px 10px;
}
